<div class="row">
    <div class="col s4 m4 l4">
        <div class="card center-align" style="height: 543px">
            <span class="card-title">Mon profil</span>
        </div>
    </div>
    <div class="col s8 m8 l8">
        <div class="row" style="margin-bottom: 0px;!important;">
            <div class="col s6 m6 l6">
                <div class="card center-align" style="height: 250px">
                    <span class="card-title">Mon véhicule</span>
                </div>
            </div>
            <div class="col s6 m6 l6">
                <div class="card center-align" style="height: 250px">
                    <span class="card-title">Eco Score</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4">
                <div class="card center-align" style="height: 270px">
                    <span class="card-title">Kilométrage</span>
                    <div class="">
                        <img style="height: 200px; width: 350px; margin-top: 10px" src="/Chartklm.png">
                    </div>
                </div>
            </div>
            <div class="col s8 m8 l8">
                <div class="card center-align" style="height: 270px">
                    <span class="card-title">Opérations à venir</span>
                </div>
            </div>
        </div>
    </div>
</div>