<div class="row">
    <div class="col s4 m4 l4">
        <div class="card center-align" style="height: 543px">
            <span class="cyan-text text-darken-2 card-title">My Way</span>
            <div><img style="height: 200px; width: 200px; margin-top: 10px" src="/avatar/avatar3.png"></div>
            <div class="carousel" style="margin-top: -50px">
                <a class="carousel-item" href="#"><img style="height: 150px; width: 200px"
                                                       src="/badges/bibbadgesV-30.png"></a>
                <a class="carousel-item" href="#"><img style="height: 150px; width: 200px"
                                                       src="/badges/bibbadgesV-27.png"></a>
                <a class="carousel-item" href="#"><img style="height: 150px; width: 200px"
                                                       src="/badges/bibbadgesV-28.png"></a>
                <a class="carousel-item" href="#"><img style="height: 150px; width: 150px"
                                                       src="/badges/bibbadgesV-29.png"></a>
            </div>
        </div>
    </div>
    <div class="col s8 m8 l8">
        <div class="row" style="margin-bottom: 0px;!important;">
            <div class="col s6 m6 l6">
                <div class="card center-align" style="height: 250px">
                    <span class="cyan-text text-darken-2 card-title">Mon véhicule</span>
                    <div class="row">
                        <div class="col s8 m8 l8" style="padding-top: 20px">
                            <div><img style="height: 150px;" src="/my-vehicule.png"></div>
                        </div>
                        <div class="col s4 m4 l4">
                            <h5>DS 5 THP 165</h5>
                            <p>Fin de garantie : 30/06/2018</p>
                            <p>Immatriculation : ZZ-156-ZA</p>
                            <div><img style="height: 25px;" src="/euromaster.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 m6 l6">
                <div class="card center-align" style="height: 250px">
                    <span class="cyan-text text-darken-2 card-title">Eco Score</span>
                    <div><img style="height: 200px; width: 350px; margin-top: 10px" src="/profil-ecoscore.png"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4">
                <div class="card center-align" style="height: 270px">
                    <span class="cyan-text text-darken-2 card-title">Kilométrage</span>
                    <div><img style="height: 200px; width: 350px; margin-top: 10px" src="/Chartklm.png"></div>
                </div>
            </div>
            <div class="col s8 m8 l8">
                <div class="card " style="height: 270px">
                    <span class="cyan-text text-darken-2 card-title" style="margin-left: 40%">Opérations à venir</span>
                    <div>
                        <ul class="collection"> 
                            <li class="collection-item avatar"> 
                                <i class="cyan darken-2 material-icons circle">build</i>
                                <span class="title">Révision</span>
                                <p>Dernière opération : 20/06/2015 (80 000 kms)</p>
                                <p class="strong">Prochaine opération : avant le 20/06/2016 ou 110 000 kms</p>
                                <a href="http://www.revisersavoiture.com" target="_blank" class="secondary-content">Prendre un rdv chez <img style="height: 40px; display: block; padding-left: 20px" src="/reviser-sa-voiture.jpeg"></a>
                            </li>
                            <li class="collection-item avatar">
                                <i class="cyan darken-2 material-icons circle"><img height="46px" src="/tyre.jpeg"></i>
                                <span class="title">Pneumatiques train avant</span>
                                <p>Dernier changement à 60 000 kms</p>
                                <p>Vous approchez des 90 000 kms, pensez à vérifier le taux d'usure</p>
                                <a href="http://www.allopneus.com" target="_blank" class="secondary-content">Prendre un rdv chez <img style="height: 40px; display: block; padding-left: 20px" src="/allo-pneu.jpeg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>