<div class="row" style="margin-bottom: 0px!important;">
    <!--compare Grid-->




    <div class="row" style="margin-bottom: 0px;!important;">
        <h5 class="cyan-text text-darken-2 center-align" style="font-style: italic; font-weight: bold">Trajet
            du lll</h5>
        <div class="row">
            <form class="col offset-s3 s6">

                <div class="row">
                    <div class="carousel">
                        <a class="carousel-item" href="#one!"><img src="/avatar/avatar1.jpg"></a>
                        <a class="carousel-item" href="#one!"><img src="/avatar/av2.jpg"></a>
                        <a class="carousel-item" href="#one!"><img src="/avatar/av3.jpg"></a>
                        <a class="carousel-item" href="#one!"><img src="/avatar/av4.jpg"></a>
                        <a class="carousel-item" href="#one!"><img src="/avatar/av5.jpg"></a>
                    </div>
                </div>

                <!--
                <a ng-repeat="profil in $ctrl.community" href="#one!" class="carousel-item" ><img src={{profil.avatar}}></a>
                -->

                <div class="row">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>

            </form>
        </div>
    </div>


</div>


