<div class="row" style="margin-bottom: 0px!important;">

    <div class="row" style="margin-bottom: 0px;!important;">
        <div class="row">
            <form class="col offset-s3 s6">

                <div class="row">
                    <div class="carousel">
                        <a class="carousel-item" ng-click="$ctrl.focusOpponent(0)"><img src="/avatar/avatar1.png"></a>
                        <a class="carousel-item" ng-click="$ctrl.focusOpponent(1)"><img src="/avatar/avatar2.png"></a>
                        <a class="carousel-item" ng-click="$ctrl.focusOpponent(2)"><img src="/avatar/avatar6.png"></a>
                        <a class="carousel-item" ng-click="$ctrl.focusOpponent(3)"><img src="/avatar/avatar4.png"></a>
                        <a class="carousel-item" ng-click="$ctrl.focusOpponent(4)"><img src="/avatar/avatar5.png"></a>
                    </div>
                </div>


                <div class="row" ng-if="!$ctrl.selectOpponent">
                    TOTO
                </div>
                <div class="row" ng-if="$ctrl.selectOpponent">
                    TATA - {{selectedOpponent}} / {{$ctrl.selectedOpponent}} * {{$ctrl.data}} + {{data}} ** $ctrl.data



                </div>
                <!--
                <div class="row">
                    <div class="carousel">
                        <a ng-repeat="profil in $ctrl.community" href="#one!" class="carousel-item" ><img src={{profil.avatar}}></a>
                    </div>
                </div>
-->

                <!--
                <a ng-repeat="profil in $ctrl.community" href="#one!" class="carousel-item" ><img src={{profil.avatar}}></a>
                -->

                <!--
                <div class="row">
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
-->
            </form>
        </div>
    </div>


</div>


