<div class="row" style="margin-bottom: 0px!important;">
    <!--Travels-->
    <div class="col s12 m12 l12">
        <div class="row" style="margin-bottom: 0px;!important;">
            <h5 class="cyan-text text-darken-2 center-align" style="font-style: italic; font-weight: bold">Trajet
                du {{$ctrl.currentTravel.date}}</h5>
        </div>
        <div class="row" style="margin-bottom: 0px;!important;">
            <div class="card col s4 m4 l4">
                <div class="card-content center-align">
                    <div class="material-icons light-blue-text" style="font-size: 800%">local_gas_station</div>
                    <div>Consommation</div>
                    <div><h4 style="display: inline">{{$ctrl.currentTravel.consommation}}</h4> / 10</div>
                    <div class="row" style="margin-bottom: 5px;!important;">
                        <span ng-repeat="s in $ctrl.currentTravel.ecoStarConso track by $index"
                              class="material-icons col s1 m1 l1" ng-style="$ctrl.starColor($ctrl.currentTravel.consommation)">star_rate</span>
                    </div>
                </div>
            </div>
            <div class="col s4 m4 l4" style="padding: 0 10px 0 10px;">
                <div class="card ">
                    <div class="card-content center-align">
                        <div class="material-icons light-blue-text" style="font-size: 800%">rowing</div>
                        <div>Sécurité</div>
                        <div><h4 style="display: inline">{{$ctrl.currentTravel.safety}}</h4> / 10</div>
                        <div class="row" style="margin-bottom: 5px;!important;">
                        <span ng-repeat="s in $ctrl.currentTravel.ecoStarSafety track by $index"
                              class="material-icons col s1 m1 l1" ng-style="$ctrl.starColor($ctrl.currentTravel.safety)">star_rate</span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="card col s4 m4 l4">
                <div class="card-content center-align">
                    <div class="material-icons light-blue-text" style="font-size: 800%">airline_seat_recline_extra</div>
                    <div>Confort</div>
                    <div><h4 style="display: inline">{{$ctrl.currentTravel.comfort}}</h4> / 10</div>
                    <div class="row" style="margin-bottom: 5px;!important;">
                        <span ng-repeat="s in $ctrl.currentTravel.ecoStarComfort track by $index"
                              class="material-icons col s1 m1 l1" ng-style="$ctrl.starColor($ctrl.currentTravel.comfort)">star_rate</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collection" style="margin: 0 0 0 0">
                <a class="collection-item avatar waves-effect waves-light" ng-repeat="travel in $ctrl.travels"
                   ng-click="$ctrl.setCurrentTravel(travel)" ng-class="$ctrl.currentTravel == travel ? 'active' : ''">
                    <i class="material-icons circle light-blue" style="margin-top: 10px">directions_car</i>
                    <div><i class="material-icons">access_time</i> <span
                            style="margin-top: -10px">{{travel.date}}</span>
                    </div>
                    <span class="title"><i class="material-icons">place</i>{{travel.distance}} kms</span>
                    <span class="secondary-content" style="margin-top: 8px"><h4
                            style="display: inline">{{travel.ecoScore}}</h4> /10</span>
                </a>
            </div>
        </div>
    </div>

    <!--Map-->
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="angular-google-map-container">
                    <ui-gmap-google-map center="$ctrl.currentTravel.map.center" zoom="ctrl.currentTravel.map.zoom">

                        <ui-gmap-polyline ng-repeat="p in $ctrl.currentTravel.polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                          geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable">

                        </ui-gmap-polyline>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>

    <!--Create travel-->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large pink accent-3">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <!-- Map MSolutions -->
    <div class="row">
        <div class="folium-map" id="map_49f552b469b0441093431b85e8684180" ></div>
    </div>
</div>
